.controls-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-input-wrapper {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.search-input {
  width: 325px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
  border-radius: 12px;
  border: none;
  background: #f3f4f6;
  padding: 9px 20px 9px 44px;
  box-sizing: border-box;
}

.register-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 23px;
  height: 42px;
  background-color: #3692ff;
  color: #f3f4f6;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.sort-select {
  width: 132px;
  height: 42px;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}

.product-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 360px;
  margin-bottom: 24px;
  width: 100%;
  box-sizing: border-box;
}