.product-list {
  margin-top: 24px;
  padding: 0 360px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 221px);
  gap: 24px;
  justify-content: center;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}